* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  font-family: 'Poppins', sans-serif;
}

#navicationBar {
  background-color: white;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navicationBar .logo {
  margin-left: 180px;
}

#navicationBar .logo p {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.095em;
  font-style: normal;
}

#navicationBar .nav {
  width: 343px;
  margin-right: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navicationBar .nav .selectedNav {
  background-color: #45B870;
  border-radius: 16px;
}

#navicationBar .nav .selectedNav p {
  padding: 0px 10px 0px 10px;
  color: white;
}

#navicationBar .nav p {
  min-width: 60px;
  padding: 15px;
  text-align: center;
  letter-spacing: 0.0952em;
  font-size: 18px;
}

#homeBody {
  /* 51Asset 1 1 */
}

#homeBody .homeBody_top {
  background-image: url("../assets/homeBody_top_background.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  background-position: scale(1.5);
}

#homeBody .homeBody_top .we_are_here {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: -50px 70px 0px 70px;
}

#homeBody .homeBody_top .we_are_here .we_are_here_info {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 900px;
}

#homeBody .homeBody_top .we_are_here .we_are_here_info .we_are_here_info_message p:first-child {
  text-align: center;
  font-size: 64px;
  font-family: Roboto;
  line-height: 75px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

#homeBody .homeBody_top .we_are_here .we_are_here_info .we_are_here_info_message p:last-child {
  text-align: center;
  font-size: 26px;
  font-weight: 400px;
  line-height: 39px;
  letter-spacing: 0.005em;
  margin: 25px 80px 0px 80px;
  color: #A2A2A2;
}

#homeBody .homeBody_top .we_are_here .we_are_here_info .we_are_here_info_calculate_bottom {
  margin-top: 50px;
  background-color: #22D126;
  border-radius: 20px;
}

#homeBody .homeBody_top .we_are_here .we_are_here_info .we_are_here_info_calculate_bottom p {
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  padding: 5px 20px 5px 20px;
}

#homeBody .homeBody_top .calculator_design_discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 50px;
}

#homeBody .homeBody_top .calculator_design_discription .calculator_design_discription_setting_icon {
  height: 150px;
  margin-right: 50px;
}

#homeBody .homeBody_top .calculator_design_discription .calculator_design_discription_message {
  width: 40%;
}

#homeBody .homeBody_top .calculator_design_discription .calculator_design_discription_message p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #A1A1A1;
}

#homeBody #personalTax {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#homeBody #personalTax .personalTax_individuals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#homeBody #personalTax .personalTax_individuals .personalTax_individuals_naming {
  margin: 20px;
}

#homeBody #personalTax .personalTax_individuals .personalTax_individuals_naming p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #009A3A;
}

#homeBody #personalTax .personalTax_couples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#homeBody #personalTax .personalTax_couples .personalTax_couples_naming {
  margin: 20px;
}

#homeBody #personalTax .personalTax_couples .personalTax_couples_naming p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #009A3A;
}

#homeBody .home_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

#homeBody .home_contact h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.095em;
  margin-bottom: 50px;
}

#homeBody .home_contact .home_contact_mainPart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#homeBody .home_contact .home_contact_mainPart .home_contact_mainPart_left {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#homeBody .home_contact .home_contact_mainPart .home_contact_mainPart_left .home_contact_mainPart_left_contact_address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#homeBody .home_contact .home_contact_mainPart .home_contact_mainPart_left .home_contact_mainPart_left_contact_address .home_contact_mainPart_left_contact_address_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#homeBody .home_contact .home_contact_mainPart .home_contact_mainPart_left .home_contact_mainPart_left_contact_address .home_contact_mainPart_left_contact_address_location p {
  margin-left: 20px;
}

#homeBody .home_contact .home_contact_mainPart .home_contact_mainPart_left .home_contact_mainPart_left_contact_address .home_contact_mainPart_left_contact_address_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#homeBody .home_contact .home_contact_mainPart .home_contact_mainPart_left .home_contact_mainPart_left_contact_address .home_contact_mainPart_left_contact_address_email P {
  margin-left: 20px;
}

#homeBody .home_contact .home_contact_mainPart .home_contact_mainPart_right {
  width: 45%;
}

#homeBody .home_contact .home_contact_mainPart .home_contact_mainPart_right .home_contact_mainPart_right_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#homeBody .home_contact .home_contact_mainPart .home_contact_mainPart_right .home_contact_mainPart_right_form div {
  width: 80%;
  margin-bottom: 20px;
}

#homeBody .home_contact .home_contact_mainPart .home_contact_mainPart_right .home_contact_mainPart_right_form div input {
  width: 100%;
  height: 50px;
  background: #F4F4F4;
  border-radius: 13px;
  border: none;
}

#homeBody .home_contact .home_contact_mainPart .home_contact_mainPart_right .home_contact_mainPart_right_form div textarea {
  width: 100%;
  height: 150px;
  background: #F4F4F4;
  border-radius: 13px;
  border: none;
}

#homeBody .home_contact .home_contact_mainPart .home_contact_mainPart_right .home_contact_mainPart_right_form div button {
  width: 100%;
  height: 50px;
  background: #1BD51F;
  border-radius: 13px;
  border: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.095em;
  color: #FFFFFF;
}

#newsletter {
  background: #F8F9FB;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

#newsletter .newsletter_subscribe_message p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.095em;
  color: #1BD51F;
}

#newsletter .newsletter_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500px;
}

#newsletter .newsletter_email .newsletter_email_tag {
  padding-right: 30px;
}

#newsletter .newsletter_email .newsletter_email_tag p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.095em;
  color: #707070;
}

#newsletter .newsletter_email .newsletter_email_input {
  width: 300px;
}

#newsletter .newsletter_email .newsletter_email_input input {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

#newsletter .newsletter_subscribe_note p {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 54px;
  /* identical to box height */
  letter-spacing: 0.095em;
  color: #B0B0B0;
}

#footer {
  border: 2px solid #ADADAD;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#footer .footer_copyright p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0.095em;
  text-align: center;
  color: #505050;
}
/*# sourceMappingURL=style.css.map */