a {
  text-decoration: none;
  color: #000;
}

body {
  background: #ffffff;
  font-family: 'Poppins';
  margin: 0;
}

#navicationBar {
  background-color: white;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navicationBar .logo {
  margin-left: 180px;
}

#navicationBar .logo p {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.095em;
  font-style: normal;
}

#navicationBar .nav {
  width: 343px;
  margin-right: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navicationBar .nav .selectedNav {
  background-color: #45B870;
  border-radius: 16px;
}

#navicationBar .nav .selectedNav p {
  padding: 0px 10px 0px 10px;
  color: white;
}

#navicationBar .nav p {
  min-width: 60px;
  padding: 15px;
  text-align: center;
  letter-spacing: 0.0952em;
  font-size: 18px;
}

#content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #E5E5E5;
}

#content .leftcontent {
  width: 900px;
  height: 700px;
  margin-right: 100px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 17px;
}

#content .leftcontent .form {
  width: 80%;
  height: 430px;
  margin: 50px 0px 0px 70px;
}

#content .leftcontent .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 10px;
}

#content .leftcontent .first div {
  margin-bottom: 10px;
}

#content .leftcontent .first .first_marriage {
  width: 45%;
}

#content .leftcontent .first .first_marriage p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 525;
  font-size: 18px;
  line-height: 10px;
  /* identical to box height */
  letter-spacing: 0.095em;
  color: #009A3A;
}

#content .leftcontent .first .first_marriage select {
  width: 100%;
  height: 30px;
}

#content .leftcontent .first .first_gender {
  width: 45%;
}

#content .leftcontent .first .first_gender p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 525;
  font-size: 18px;
  line-height: 10px;
  /* identical to box height */
  letter-spacing: 0.095em;
  color: #009A3A;
}

#content .leftcontent .first .first_gender select {
  width: 100%;
  height: 30px;
}

#content .leftcontent .second div {
  margin-bottom: 20px;
}

#content .leftcontent .second p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 525;
  font-size: 18px;
  line-height: 10px;
  /* identical to box height */
  letter-spacing: 0.095em;
  color: #009A3A;
}

#content .leftcontent .second .second_salary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#content .leftcontent .second .second_salary .second_salary_amount {
  width: 45%;
  margin-bottom: 0;
}

#content .leftcontent .second .second_salary .second_salary_amount input {
  width: 100%;
  height: 25px;
  border-radius: 7px;
  border-width: 1px;
}

#content .leftcontent .second .second_salary .second_salary_time {
  width: 45%;
  margin-bottom: 0;
}

#content .leftcontent .second .second_salary .second_salary_time select {
  width: 100%;
  height: 30px;
  border-radius: 7px;
}

#content .leftcontent .second .second_festival_bonus input {
  width: 100%;
  height: 25px;
  border-radius: 7px;
  border-width: 1px;
}

#content .leftcontent .second .second_allowance input {
  width: 100%;
  height: 25px;
  border-radius: 7px;
  border-width: 1px;
}

#content .leftcontent .second .second_others_income input {
  width: 100%;
  height: 25px;
  border-radius: 7px;
  border-width: 1px;
}

#content .leftcontent .third div {
  margin-bottom: 20px;
}

#content .leftcontent .third p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 525;
  font-size: 18px;
  line-height: 10px;
  /* identical to box height */
  letter-spacing: 0.095em;
  color: #009A3A;
}

#content .leftcontent .third div input {
  width: 100%;
  height: 25px;
  border-radius: 7px;
  border-width: 1px;
}

#content .leftcontent .fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#content .leftcontent .fourth .fourth_reset {
  width: 45%;
}

#content .leftcontent .fourth .fourth_reset input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #A8A8A8;
  background-color: #ffffff;
}

#content .leftcontent .fourth .fourth_reset :hover {
  cursor: pointer;
}

#content .leftcontent .fourth .fourth_calculate {
  width: 45%;
}

#content .leftcontent .fourth .fourth_calculate input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border-width: 1px;
  border-color: #45B870;
  background-color: #45B870;
}

#content .leftcontent .fourth .fourth_calculate :hover {
  cursor: pointer;
}

#content .rightcontent {
  width: 550px;
  height: 700px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content .rightcontent .first {
  height: 20%;
  width: 70%;
  background: #F8F9FB;
  border: 1px solid #D1D1D1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 36px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content .rightcontent .first .up {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.095em;
  color: #000000;
}

#content .rightcontent .first .down p {
  display: block;
  margin: -15px 0px -10px 0px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.095em;
  color: #45B870;
}

#content .rightcontent .second {
  height: 20%;
  width: 70%;
  background: #F8F9FB;
  border: 1px solid #D1D1D1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

#content .rightcontent .second .up {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.095em;
  color: #000000;
}

#content .rightcontent .second .down p {
  display: block;
  margin: -15px 0px -10px 0px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.095em;
  color: #45B870;
}

#content .rightcontent .third {
  height: 20%;
  width: 70%;
  background: #F8F9FB;
  border: 1px solid #D1D1D1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

#content .rightcontent .third .up {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.095em;
  color: #000000;
}

#content .rightcontent .third .down p {
  display: block;
  margin: -15px 0px -10px 0px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.095em;
  color: #45B870;
}

#content .rightcontent .fourth {
  height: 20%;
  width: 70%;
  background: #F8F9FB;
  border: 1px solid #D1D1D1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#content .rightcontent .fourth .up {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.095em;
  color: #000000;
}

#content .rightcontent .fourth .down p {
  display: block;
  margin: -15px 0px -10px 0px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.0em;
  color: #45B870;
}

#footer {
  border: 2px solid #ADADAD;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#footer .footer_copyright p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0.095em;
  text-align: center;
  color: #505050;
}
/*# sourceMappingURL=main.css.map */