@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
a {
    text-decoration: none;
    color: #000;
}

@mixin flexCenter($justify, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

@mixin form_font_style() {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 525;
    font-size: 18px;
    line-height: 10px;
    /* identical to box height */
    letter-spacing: 0.095em;
    color: #009A3A;
}

body {
    background: #ffffff;
    font-family: 'Poppins';
    margin: 0;
}

#navicationBar {
    // position: fixed;
    // width: 100%;
    background-color: #ffffff;
    height: 85px;
    border-radius: 2px solid;
    @include flexCenter(space-between, row);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 1px solid black;

    .logo {
        margin-left: 180px;

        p {
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 0.095em;
            font-style: normal;
        }
    }

    .nav {
        width: 343px;
        margin-right: 180px;
        @include flexCenter(space-between, row);

        .selectedNav {
            background-color: #45B870;
            border-radius: 16px;

            p {
                padding: 0px 10px 0px 10px;
                color: white;
            }
        }

        p {
            min-width: 60px;
            padding: 15px;
            text-align: center;
            letter-spacing: 0.0952em;
            font-size: 18px;
        }
    }
}

.newspart{
    width: 90%;
    margin: auto;
    

    .news-heading{
        font-size: 1.5rem;
        font-family: 'Quando', serif;
        color: #1a2a3b;
        text-align: center;
    }

    .news-content{

        
        img{
            width: 100%;
        }

        p{
            padding-top: 20px;
            color: #6A6A6A;
            width: 90%;
            margin: auto;
            font-size: 1.3rem;
        }

    }

}